<script type="text/babel">
	window.TodoList = React.createClass({
		getInitialState: function(){
			return { data: [] };
		},
		componentDidMount: function() {
      		this.update();
   		},
		render: function(){
		var data = this.state.data
			return(
				<table className="table table-striped">
						<thead>
							<tr>
								<th>Status</th>
								<th>To do</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{ data.map(function(l){
									return <tr>
											<td><input type="checkbox" defaultChecked={l.done} onChange={this.handleChange.bind(this,l.id)}/></td>
											<td>{l.do}</td>
											<td><a onCLick={this.delete.bind(this,l.id)}><span className="glyphicon glyphicon-remove text-danger" ></span></a></td>
											</tr>
								},this) }
						</tbody>
					</table>
			);
		},
		update: function(){
			$.get('/todo/list',function(data,error){
				this.setState({data:data})
			}.bind(this))
		},
		handleChange: function(id){
			$.post('/todo/update_status',{todo_id:id},function(data,error){
				this.update();
			}.bind(this))
		},
		delete: function(id){
			$.post('/todo/delete',{todo_id:id},function(data,error){
				this.update();
			}.bind(this))
		}
	})
</script>