<script type="text/babel">
	window.TodoList = React.createClass({
		getInitialState: function(){
			return { data: [] };
		},
		componentDidMount: function() {
      		this.update();
   		},
		render: function(){
		var data = this.state.data
			return(
				<table className="table table-striped">
						<thead>
							<tr>
								<th>Status</th>
								<th>To do</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{ data.map(function(l){
									return <tr>
												<td><input type="checkbox" value={true} checked={l.done || !l.done}/></td>
												<td>{l.do}</td>
												<td></td>
											</tr>
								},this) }
						</tbody>
					</table>
			);
		},
		update: function(){
			$.get('/todo/list',function(data,error){
				console.log(data);
				this.setState({data:data})
			}.bind(this))
		}
	})
</script>