<%= render 'todo/todo_add'%>
<%= render 'todo/todo_list'%>
<div id="target"></div>
<script type="text/babel">
	window.Todo = React.createClass({
		render: function(){
			return(
			<div className="col-sm-6 col-sm-offset-3">
			<div className="panel panel-default ">
				<div className="panel-body">
					<TodoList/>
					<TodoAdd/>
				</div>
			</div>
			</div>
			);
		}
	})
	ReactDOM.render(<Todo/>,document.getElementById('target'))
</script>