<%= render 'todo/todo_add'%>
<%= render 'todo/todo_list'%>
<div id="target"></div>
<script type="text/babel">
	window.Todo = React.createClass({
		render: function(){
		var data = this.state.data
			return(
			<div class="panel panel-default ">
				<div class="panel-body">
					<TodoList/>
					<TodoAdd/>
				</div>
			</div>
			);
		}
	})
	ReactDOM.render(<Todo/>,document.getElementById('target'))
</script>